body {
    background: url('img/fond\ mer.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
    padding: 1rem;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 0;
    pointer-events: none;
}

.noeltxt {
    max-width: 110%; /* Augmente légèrement la taille */
    height: auto;
    display: block;
}

.palmier,
.feux {
    width: 100%; /* Assure qu'ils ont la même largeur */
    max-width: 300px; /* Définit une taille maximale identique */
    height: auto; /* Maintient les proportions */
    display: block;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column !important;
        align-items: center !important;
    }
    .noeltxt {
        width: 85vw; /* Augmente légèrement la taille */
        max-width: 450px; /* Taille maximale plus grande */
        margin-bottom: 1rem;
    }
    .palmier,
    .feux {
        width: 85vw; /* Taille identique pour les deux */
        max-width: 350px; /* Taille maximale identique */
        margin-bottom: 1rem;
    }
    h1.emojy {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .noeltxt {
        width: 95vw; /* Augmente légèrement la taille */
        max-width: 300px; /* Taille maximale plus grande */
        margin-bottom: 1rem;
    }
    .palmier,
    .feux {
        width: 95vw; /* Taille identique pour les deux */
        max-width: 250px; /* Taille maximale identique */
    }
    h1.emojy {
        font-size: 1.5rem;
    }
}

